.Game {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.game-word {
  margin-bottom: 10px;
}

.game-input {
  font-size: 1rem;
  margin-bottom: 15px;
}

.game-word__letter {
  display: inline;
  margin: 0;
}

.game-word__letter--correct {
  color: darkgreen;
}

.game-word__letter--wrong {
  color: crimson;
}