.HomePage {
  min-width: 65%;
  max-width: 90%;
  text-align: center;
  margin: 10px auto
}

.home-form > * {
  display: block;
  margin: 10px auto;
}

.start-btn {
  background-color: #333652;
  color: white;
  padding: 10px;
  border-radius: 10px;
}