.HomePage {
  min-width: 65%;
  max-width: 90%;
  text-align: center;
  margin: 10px auto
}

.home-title__logo {
  width: 100px;
}

.home-form > * {
  display: block;
  margin: 10px auto;
  font-size: 1rem;
}

.start-btn {
  background-color: #333652;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.start-btn:disabled {
  background-color: transparent;
  color: red;
  border: none;
}